%body

  = render partial: "messages/side_bar"

.right
  .right__top
    .right__top__edit-place
      = link_to edit_group_path (current_user) do
        .right__top__edit-place__edit EDIT
    .right__top__current-group
      = @group.name
    .right__top__current-text
    
  .right__main
    = render @messages

.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', id: "new_message", placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'